{cover_enabled, true}.
{erl_opts, [{parse_transform, lager_transform}]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir,"."}]}}]}.
{edoc_opts,[{todo,true}]}.
{cover_print_enable, true}.
{plugins, [rebar_covertool]}.
{covertool_eunit, ".eunit/eunit.coverage.xml"}.
{covertool_ct, {"ct.coverdata", ".eunit/ct.coverage.xml"}}.
{covertool_prefix_len, 2}.
{lib_dirs,["deps"]}.

{deps, [
    {'lager', ".*", {
        git, "git://github.com/basho/lager.git", "master"}
    },
    {covertool,".*", {git, "git://github.com/idubrov/covertool.git","HEAD"}}
]}.
